%% -*- erlang -*-
{erl_first_files,
 [
  "EXOMETER-MIB.mib"
 ]}.

{deps,
 [
  {exometer_core, ".*", {git, "git://github.com/Feuerlabs/exometer_core.git",
			 {tag, "1.2"}}}
 ]}.

{erl_opts,
 [
  debug_info,
  fail_on_warning,
  {parse_transform, lager_transform},
  {verbosity, trace}
 ]}.

{sub_dirs, ["src"]}.

{xref_checks,
 [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_functions_calls,
  deprecated_functions
 ]}.

{cover_print_enabled, true}.

{clean_files, ["test/app1/ebin/*.beam"]}.
